   <!-- PROMO -->
   <div class="py-3 bg-dark bg-pattern mb-4">
    <div class="container">
      <div class="row">
        <div class="col-12">

          <!-- Text -->
          <div class="text-center text-white">
            <span class="heading-xxs letter-spacing-xl">
              ⚡️ Bienvenue dans une nouvelle aventure ⚡️
            </span>
          </div>

        </div>
      </div>
    </div>
  </div>


  <!-- CATEGORIES -->
  <section>
    <div class="row gx-0 d-block d-lg-flex flickity flickity-lg-none justify-content-center" data-flickity='{"watchCSS": true}'>

      <!-- Item -->
      <div class="col-12 col-md-6 col-lg-4 d-flex flex-column bg-cover" style="background-image: url(assets/img/covers/covers1.jpg);">
        <div class="card bg-dark-5 bg-hover text-white text-center" style="min-height: 470px;">
          <div class="card-body mt-auto mb-n11 py-8">

            <!-- Heading -->
            <h1 class="mb-0 fw-bolder" >
              Femmes
            </h1>

          </div>
          <div class="card-body mt-auto py-8">

            <!-- Button -->
            <a class="btn btn-white stretched-link"routerLink="catalogues" >
              boutique femmes <i class="fe fe-arrow-right ms-2"></i>
            </a>

          </div>
        </div>
      </div>

      <!-- Card -->
      <div class="col-12 col-md-6 col-lg-4 d-flex flex-column bg-cover" style="background-image: url(assets/img/covers/covers2.jpg);">
        <div class="card bg-dark-5 bg-hover text-white text-center" style="min-height: 470px;">
          <div class="card-body mt-auto mb-n11 py-8">

            <!-- Heading -->
            <h1 class="mb-0 fw-bolder">
              Hommes
            </h1>

          </div>
          <div class="card-body mt-auto py-8">

            <!-- Button -->
            <a class="btn btn-white stretched-link" routerLink="catalogues">
              boutique hommes <i class="fe fe-arrow-right ms-2"></i>
            </a>

          </div>
        </div>
      </div>

      <!-- Card -->


    </div>
  </section>

  <!-- FEATURES -->
  <section class="pt-7">
    <div class="container">
      <div class="row pb-7 border-bottom">
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex mb-6 mb-lg-0">

            <!-- Icon -->
            <i class="fe fe-truck fs-lg text-primary"></i>

            <!-- Body -->
            <div class="ms-6">

              <!-- Heading -->
              <h6 class="heading-xxs mb-1">
                Livraison gratuite
              </h6>

              <!-- Text -->
              <p class="mb-0 fs-sm text-muted">
                Pour toute commande au dessus de 15.000 XAF, Moins de 12h à Yaoundé et 24h dans les autres villes
              </p>

            </div>

          </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex mb-6 mb-lg-0">

            <!-- Icon -->
            <i class="fe fe-repeat fs-lg text-primary"></i>

            <!-- Body -->
            <div class="ms-6">

              <!-- Heading -->
              <h6 class="mb-1 heading-xxs">
                Retour gratuit
              </h6>

              <!-- Text -->
              <p class="mb-0 fs-sm text-muted">
                Rembourser l'argent dans les 30 jours
              </p>

            </div>

          </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex mb-6 mb-md-0">

            <!-- Icon -->
            <i class="fe fe-lock fs-lg text-primary"></i>

            <!-- Body -->
            <div class="ms-6">

              <!-- Heading -->
              <h6 class="mb-1 heading-xxs">
                Achats sécurisés
              </h6>

              <!-- Text -->
              <p class="mb-0 fs-sm text-muted">
                Vous êtes entre de bonnes mains
              </p>

            </div>

          </div>

        </div>
        <div class="col-12 col-md-6 col-lg-3">

          <!-- Item -->
          <div class="d-flex">

            <!-- Icon -->
            <i class="fe fe-tag fs-lg text-primary"></i>

            <!-- Body -->
            <div class="ms-6">

              <!-- Heading -->
              <h6 class="mb-1 heading-xxs">
                Paiements au choix
              </h6>

              <!-- Text -->
              <p class="mb-0 fs-sm text-muted">
                Espèces, OM, MoMo, Ecobank Express Cash
              </p>

            </div>

          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- A propos -->
  <app-a-propos></app-a-propos>

  <!-- Services -->
  <app-services></app-services>

  <!-- Catalogues -->
  <!-- <app-catalogues></app-catalogues> -->

  <!-- COUNTDOWN -->
  <!-- <section class="py-13 bg-cover" style="background-image: url(assets/img/covers/cover.jpg)">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12 col-md-9 col-lg-5">

          <!-- Heading
          <h3 class="mb-7 text-body">
            Profitez de 50% de reduction <br />Spécial vacances
          </h3>

          <!-- Counter
          <div class="d-flex mb-9" data-countdown data-date="Dec 31, 2023 00:00:00">
            <div class="text-center">
              <div class="fs-1 fw-bolder text-primary" data-days>00</div>
              <div class="heading-xxs text-muted">Days</div>
            </div>
            <div class="px-1 px-md-4">
              <div class="fs-2 fw-bolder text-primary">:</div>
            </div>
            <div class="text-center">
              <div class="fs-1 fw-bolder text-primary" data-hours>00</div>
              <div class="heading-xxs text-muted">Hours</div>
            </div>
            <div class="px-1 px-md-4">
              <div class="fs-2 fw-bolder text-primary">:</div>
            </div>
            <div class="text-center">
              <div class="fs-1 fw-bolder text-primary" data-minutes>00</div>
              <div class="heading-xxs text-muted">Minutes</div>
            </div>
            <div class="px-1 px-md-4">
              <div class="fs-2 fw-bolder text-primary">:</div>
            </div>
            <div class="text-center">
              <div class="fs-1 fw-bolder text-primary" data-seconds>00</div>
              <div class="heading-xxs text-muted">Seconds</div>
            </div>
          </div>

          <!-- Button
          <a class="btn btn-dark" href="shop.html">
            Commandez maintenant <i class="fe fe-arrow-right ms-2"></i>
          </a>

        </div>
      </div>
    </div>
  </section> -->

  <!-- REVIEWS -->
  <section class="py-12">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8 col-xl-6 text-center">

          <!-- Preheading -->
          <h6 class="heading-xxs mb-3 text-gray-400">
            Ce que les clients disent
          </h6>

          <!-- Heading -->
          <h2 class="mb-10">Les derniers avis de nos cients</h2>

        </div>
      </div>
      <div class="row">
        <div class="col-12">

          <!-- Slider -->
          <div data-flickity='{"pageDots": true}'>
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-4">

              <!-- Card -->
              <div class="card-lg card border">
                <div class="card-body">

                  <!-- Header -->
                  <div class="row align-items-center mb-6">
                    <div class="col-4">

                      <!-- Image -->
                      <img src="assets/img/products/product-13.jpg" alt="..." class="img-fluid">

                    </div>
                    <div class="col-8 ms-n2">

                      <!-- Preheading -->
                      <a class="fs-xs text-muted" href="shop.html">
                        Soins hydratants cheveux
                      </a>

                      <!-- Heading -->
                      <a class="d-block fw-bold text-body" href="product.html">
                        ROGER & GALLET
                      </a>

                      <!-- Rating -->
                      <div class="rating fs-xxs text-warning" data-value="3">
                        <div class="rating-item">
                          <i class="fas fa-star"></i>
                        </div>
                        <div class="rating-item">
                          <i class="fas fa-star"></i>
                        </div>
                        <div class="rating-item">
                          <i class="fas fa-star"></i>
                        </div>
                        <div class="rating-item">
                          <i class="fas fa-star"></i>
                        </div>
                        <div class="rating-item">
                          <i class="fas fa-star"></i>
                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- Blockquote -->
                  <blockquote class="mb-0">
                    <p class="text-muted">
                      Cette crème a aidé mes cheveux et les a renforcés. Ils n'ont jamais été aussi bien traités.
                    </p>
                    <footer class="fs-xs text-muted">
                      Logan Edwards, <time datetime="23-06-01">01 Juin 2023</time>
                    </footer>
                  </blockquote>

                </div>
              </div>

            </div>
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-4">

              <!-- Card -->
              <div class="card-lg card border">
                <div class="card-body">

                  <!-- Header -->
                  <div class="row align-items-center mb-6">
                    <div class="col-4">

                      <!-- Image -->
                      <img src="assets/img/products/product-14.jpg" alt="..." class="img-fluid">

                    </div>
                    <div class="col-8 ms-n2">

                      <!-- Preheading -->
                      <a class="fs-xs text-muted" href="shop.html">
                        Compléments cheveux
                      </a>

                      <!-- Heading -->
                      <a class="d-block fw-bold text-body" href="product.html">
                        OLLY Heavenly Hair
                      </a>

                      <!-- Rating -->
                      <div class="rating fs-xxs text-warning" data-value="5">
                        <div class="rating-item">
                          <i class="fas fa-star"></i>
                        </div>
                        <div class="rating-item">
                          <i class="fas fa-star"></i>
                        </div>
                        <div class="rating-item">
                          <i class="fas fa-star"></i>
                        </div>
                        <div class="rating-item">
                          <i class="fas fa-star"></i>
                        </div>
                        <div class="rating-item">
                          <i class="fas fa-star"></i>
                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- Blockquote -->
                  <blockquote class="mb-0">
                    <p class="text-muted">
                    Mes cheveux sont plus longs, touffus et plus sombres que jamais, merci à vous.
                    </p>
                    <footer class="fs-xs text-muted">
                      Jane Jefferson, <time datetime="2023-05-29">29 May 2023</time>
                    </footer>
                  </blockquote>

                </div>
              </div>

            </div>
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-4">

              <!-- Card -->
              <div class="card-lg card border">
                <div class="card-body">

                  <!-- Header -->
                  <div class="row align-items-center mb-6">
                    <div class="col-4">

                      <!-- Image -->
                      <img src="assets/img/products/product-15.jpg" alt="..." class="img-fluid">

                    </div>
                    <div class="col-8 ms-n2">

                      <!-- Preheading -->
                      <a class="fs-xs text-muted" href="shop.html">
                        Produits coiffants
                      </a>

                      <!-- Heading -->
                      <a class="d-block fw-bold text-body" href="product.html">
                        CREAM OF NATURE
                      </a>

                      <!-- Rating -->
                      <div class="rating fs-xxs text-warning" data-value="4">
                        <div class="rating-item">
                          <i class="fas fa-star"></i>
                        </div>
                        <div class="rating-item">
                          <i class="fas fa-star"></i>
                        </div>
                        <div class="rating-item">
                          <i class="fas fa-star"></i>
                        </div>
                        <div class="rating-item">
                          <i class="fas fa-star"></i>
                        </div>
                        <div class="rating-item">
                          <i class="fas fa-star"></i>
                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- Blockquote -->
                  <blockquote class="mb-0">
                    <p class="text-muted">
                    Cette crème est géniale! En peu de temps, je définis de magnifiques boucles, elles n'ont jamais été aussi radieuses, je la recommande.
                    </p>
                    <footer class="fs-xs text-muted">
                      Darrell Baker, <time datetime="2023-05-18">18 May 2023</time>
                    </footer>
                  </blockquote>

                </div>
              </div>

            </div>
            <div class="col-12 col-sm-8 col-md-6 col-lg-4 px-4">

              <!-- Card -->
              <div class="card-lg card border">
                <div class="card-body">

                  <!-- Header -->
                  <div class="row align-items-center mb-6">
                    <div class="col-4">

                      <!-- Image -->
                      <img src="assets/img/products/product-10.jpg" alt="..." class="img-fluid">

                    </div>
                    <div class="col-8 ms-n2">

                      <!-- Preheading -->
                      <a class="fs-xs text-muted" href="shop.html">
                        Après shampoing & masques
                      </a>

                      <!-- Heading -->
                      <a class="d-block fw-bold text-body" href="product.html">
                        WAAM - Baume Démélant
                      </a>

                      <!-- Rating -->
                      <div class="rating fs-xxs text-warning" data-value="4">
                        <div class="rating-item">
                          <i class="fas fa-star"></i>
                        </div>
                        <div class="rating-item">
                          <i class="fas fa-star"></i>
                        </div>
                        <div class="rating-item">
                          <i class="fas fa-star"></i>
                        </div>
                        <div class="rating-item">
                          <i class="fas fa-star"></i>
                        </div>
                        <div class="rating-item">
                          <i class="fas fa-star"></i>
                        </div>
                      </div>

                    </div>
                  </div>

                  <!-- Blockquote -->
                  <blockquote class="mb-0">
                    <p class="text-muted">
                    Il a une odeur qui sent incroyablement bon, et son application est facile. Je recommande.
                    </p>
                    <footer class="fs-xs text-muted">
                      Pavel Doe, <time datetime="2019-05-29">10 Avril 2023</time>
                    </footer>
                  </blockquote>

                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- BRANDS -->
  <section class="py-12 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">

          <!-- Heading -->
          <h2 class="mb-3">Nos locaux</h2>

          <!-- Subheading -->
          <p class="mb-10 fs-lg text-gray-500">
            Nous disposons d'une boutique située au centre ville, à yaoundé .
          </p>

        </div>
      </div>

      <div class="row mx-n1 mb-10">
        <div class="col-6 col-sm-4 col-md px-1">

          <!-- Card -->
          <div class="card mb-4">

            <!-- Image -->
            <img src="assets/img/products/product- 400.jpg" alt="..." class="card-img" style="height: 350px;">

            <!-- Overlay -->
            <a class="card-img-overlay card-img-overlay-hover align-items-center bg-dark-40" href="blog-post.html">
              <p class="my-0 fs-xxs text-center text-white">
                <i class="fe fe-heart me-2"></i> 248 <i class="fe fe-message-square me-2 ms-3"></i> 7
              </p>
            </a>

          </div>

        </div>
        <div class="col-6 col-sm-4 col-md px-1">

          <!-- Card -->
          <div class="card mb-4">

            <!-- Image -->
            <img src="assets/img/products/product- 401.jpg" alt="..." class="card-img" style="height: 350px;">

            <!-- Overlay -->
            <a class="card-img-overlay card-img-overlay-hover align-items-center bg-dark-40" href="blog-post.html">
              <p class="my-0 fs-xxs text-center text-white">
                <i class="fe fe-heart me-2"></i> 248 <i class="fe fe-message-square me-2 ms-3"></i> 7
              </p>
            </a>

          </div>

        </div>
        <div class="col-6 col-sm-4 col-md px-1">

          <!-- Card -->
          <div class="card mb-2">

            <!-- Image -->
            <img src="assets/img/products/product- 402.jpg" alt="..." class="card-img"style="height: 350px;">

            <!-- Overlay -->
            <a class="card-img-overlay card-img-overlay-hover align-items-center bg-dark-40" href="blog-post.html">
              <p class="my-0 fs-xxs text-center text-white">
                <i class="fe fe-heart me-2"></i> 248 <i class="fe fe-message-square me-2 ms-3"></i> 7
              </p>
            </a>

          </div>

        </div>
      </div>
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-4 col-sm-3 col-md text-center">

          <!-- Brand -->
          <img src="assets/img/brands/gray-350/lorealParis.svg" alt="..." class="img-fluid mb-7 mb-md-0">

        </div>
        <div class="col-4 col-sm-3 col-md text-center">

          <!-- Brand -->
          <img src="assets/img/brands/gray-350/cerave.svg" alt="..." class="img-fluid mb-7 mb-md-0">

        </div>
        <div class="col-4 col-sm-3 col-md text-center">

          <!-- Brand -->
          <img src="assets/img/brands/gray-350/orinary.svg" alt="..." class="img-fluid mb-7 mb-md-0">

        </div>
        <div class="col-4 col-sm-3 col-md text-center">

          <!-- Brand  -->
          <img src="assets/img/brands/gray-350/dyson.svg" alt="..." class="img-fluid mb-7 mb-md-0">

        </div>
        <div class="col-4 col-sm-3 col-md text-center">

          <!-- Brand -->
          <img src="assets/img/brands/gray-350/Wella.svg" alt="..." class="img-fluid mb-6 mb-sm-0">

        </div>
        <div class="col-4 col-sm-3 col-md text-center">

          <!-- Brand -->
          <img src="assets/img/brands/gray-350/redken.svg" alt="..." class="img-fluid mb-6 mb-sm-0">

        </div>
        <!-- <div class="col-4 col-sm-3 col-md text-center">

          Brand -->
          <!-- <img src="assets/img/brands/gray-350/bershka.svg" alt="..." class="img-fluid">

        </div> -->
      </div>
    </div>
  </section>
