<div class="container mt-7">
  <div class="row justify-content-end align-items-center">
    <!-- Heading -->
    <h3 class="mb-7 text-center">
      A propos
    </h3>
    <div class="col-12 col-md-8 col-lg-6">
      <div class="d-flex mb-9">
        <img src="assets/img/products/product- 402.jpg" alt="..." style="border-radius: 5%; height: 100%;
                width: 100%; object-fit: cover; box-sizing: border-box; z-index: 100;">

      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-6">

      <div class=" mb-9 col-lg-10">
        <div style="text-align: justify;">
                  African Beauty est un institut de beauté mettant en valeur la beauté et produits africain en général, en
          Camerounais en particulier.
          Institut à caractère mixte, il accueille les meilleurs coiffeurs et esthéticiennes du pays, spécialisés en
          cheveux crépus, et disposant des capacités
          nécessaires afin de vous apporter tous les conseils dont vous avez besoin, que ce soit pour la prise en soin
          de votre peau ou de vos cheveux. Des services
          mis à disposition aussi bien pour les femmes, que pour les hommes, et plus récemment pour les enfants.

        </div>
      </div>

    </div>
  </div>
</div>
